* {
  box-sizing: border-box;
}

:root {
  font-family: var(--f3d-type-body-font);
  line-height: var(--f3d-type-body-line-height);
  font-weight: var(--f3d-type-body-weight);

  color: var(--f3d-color-text);
  background-color: var(--f3d-color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: background-color 0.2s, color 0.2s;
}

body {
  margin: 0;
  font-size: var(--f3d-type-body-size);
}

a {
  color: var(--f3d-color-accent);
}
