.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.typescript:hover {
  filter: drop-shadow(0 0 2em #2d79c7);
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

* {
  box-sizing: border-box;
}

:root {
  font-family: var(--f3d-type-body-font);
  font-size: var(--f3d-type-body-size);
  line-height: var(--f3d-type-body-line-height);
  font-weight: var(--f3d-type-body-weight);

  color: var(--f3d-color-text);
  background-color: var(--f3d-color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  transition: background-color 0.2s, color 0.2s;
}

body {
  margin: 0;
}

a {
  color: var(--f3d-color-accent);
}
